.footer {
    font-size: 0.6rem;
    padding: 1%;
    margin: 3%;
    border: 2px solid black;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 12px;
    background-color: #d30013;
}

.footer a {
    text-decoration: none;
    color: rgb(255, 254, 254);

    transition: transform 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.footer a:hover {
    font-weight: bold;
    transform: scale(1.1);
}

.footer div {
 color: white;
}

.bold {
    font-weight: bold;
}

.target a {
margin: 1%;
}

.underline {
    text-decoration: underline;
}