.navbar-with-img {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-wrap: nowrap;
  width: 100%;
  z-index: 1000;
  background-color: white;
  transition: box-shadow 0.3s ease;
  justify-content: space-between;
  padding: 10px; /* Ajoute du padding pour mieux positionner les éléments */
}

.dark-mode .navbar-with-img {
  background-color: #2f2f2f;
}

.navbar {
  display: flex;
  align-items: center;
}

.image-navbar {
  width: 4%;
  padding-left: 3%;
}

.navbar a {
  padding: 10px;
  text-decoration: none;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, font-weight 0.3s ease-in-out;
  color: black;
}

.dark-mode .navbar a {
  color: rgb(246, 244, 236);
}

.navbar a:nth-last-child(2) {
  margin-left: 60px;
}

.navbar a:hover {
  color: #d30013;
  font-weight: bold;
}

.navbar-with-img.scrolled {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dark-mode .navbar-with-img.scrolled {
  box-shadow: 0 4px 10px rgba(203, 196, 196, 0.1);
}

body {
  padding-top: 70px; /* Ajuste cette valeur selon la hauteur de ta navbar */
}

.button-red-off {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 1%;
  margin-right: 30px;
  background-color: #d30013;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dark-mode .button-red-off {
  background-color: rgba(250, 0, 0, 0.54);
}

.button-red-off:hover {
  background-color: #91010d;
  color: rgb(224, 214, 214);
}

.dark-mode .button-red-off:hover {
  background-color: #d30013;
}

.disconnect-text {
  display: inline-block;
  margin-left: 5px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100; 
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b1b9c3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  bottom: -5px;
  background: #2f2f2f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #b1b9c3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(-35px);
  -ms-transform: translateX(-35px);
  transform: translateX(-35px);
  background: rgb(246, 244, 236);
}


@media (max-width: 900px) {
  .navbar-with-img {
    display: flex;
    justify-content: space-between;
    padding: 10px; 
  }

  .image-navbar {
    display: flex;
    position: inherit;
    width: 8%;
  }

  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px; 
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    border: 1px solid black;
    border-radius: 10px;
  }

  .dark-mode .navbar {
    background-color: #2f2f2f;
  }

  .navbar.open {
    right: 0; 
  }

  .menu-toggle {
    display: block;
    position: fixed;
    top: 10px;
    right: 20px; 
    z-index: 1100;
  }

  .dark-mode .menu-toggle {
    color: rgb(246, 244, 236);
  }

  .navbar a
   {
    font-size: 1.4rem;
    color: black; 
  }

  .navbar button {
    padding: 2%;
  }
}
