
  
  .container-calculator {
    max-width: 800px;
    margin: 2% auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .dark-mode .container-calculator {
    background-color: rgba(107, 103, 103, 0.5);
    color: rgb(246, 244, 236)
  }

  .table-calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
  }

  .selector-calculator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1%;
  }

  h1 {
    text-align: center;
  }
  
  .table-calculator {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  

  .button-calculator {
    margin: auto;
  }

  .result-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
  }
  
  .result-net {
    color: green;
    font-weight: bold;
  }

  .little-mention-calculator {
    margin-top: 2%;
  }

  .little-mention-calculator p {
    font-size: 0.8rem;
  }

  .dedicace {
    font-size: 0.7rem;
    font-weight: bold;
    margin-top: 8%;
  }