.dark-mode .main-contain-contact h1 {
    color: rgb(246, 244, 236);
}

.contact-button {
    padding: 5px;
    border: #d50e25;
    border-radius: 8px;
    background-color: #f4e2e4;
    cursor: pointer;
}

.dark-mode .contact-button {
    border: #e1d1d148;
    background-color: #e1d1d148;
    font-weight: bold;
}

.dark-mode .main-contain-contact h4 {
    color: rgb(246, 244, 236);
}

.list-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.list-center div {
    margin: 1%;
}

.list-center div a {
    text-decoration: none;
    color: #d30013;
    transition: all 0.3s ease-in-out;
}


.list-center div a:hover {
    color: #a90b18;
    font-weight: bold;
}

.dark-mode .list-center div a:hover {
    text-shadow: 0 0 1px white, 0 0 5px white, 0 0 10px white
}

.contact-information {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes égales */
    gap: 20px; /* Espace entre les éléments */
    padding: 20px; /* Ajouter un padding autour de la grille */
    grid-auto-rows: 1fr; /* Hauteur égale pour toutes les lignes */
}

.information-elected {
    border: #d30013 4px solid;
    border-radius: 30px;
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 30px;
    padding: 20px;
    background-color: #fefefe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* S'assure que le contenu est bien réparti */
    min-height: 300px; /* Hauteur minimale pour chaque div */
    text-align: center; /* Centrer le contenu textuel */
    
}

.dark-mode .information-elected {
    border: #d30012ae 4px solid;
    background-color: #e1d1d148;
    color: rgb(246, 244, 236);
}

.information-elected p span {
    font-weight: bold;
}

@media (max-width: 800px) {

    .contact-information {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* 3 colonnes égales */
        gap: 20px; /* Espace entre les éléments */
        padding: 20px; /* Ajouter un padding autour de la grille */
    }
}