.main-contain-center {
    display: flex;
    flex-direction: column;
}

.title-activity {
    text-decoration: underline;
}

.dark-mode .title-activity {
    color: rgb(246, 244, 236);
}

.activitiesCenter-contain {
    background-color: rgb(249, 242, 242);
    border-radius: 10px;
    width: 500px;
    margin: 0  auto;
    margin-bottom: 2%;
}

.dark-mode .activitiesCenter-contain {
    background-color: #e1d1d148;
    color: rgb(246, 244, 236);
}

.activitiesCenter-contain ul li {
    list-style-type: none;
}

.activitiesCenter-contain ul li span {
    color: #d30013;
}

.dark-mode .activitiesCenter-contain ul li span {
   color: #d30012ae;
}

.contain-addActivity input {
    padding: 10px;
    margin: 5px;
    width: 150px;
    border-radius: 5px;
}

.contain-addActivity button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #d30013;
    color: white;
    font-weight: bold;
    width: 167px;
    cursor: pointer;
    transition: all 0.2s ease; /* Ajoute une transition pour rendre l'animation fluide */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Ombre initiale */
}

.dark-mode .contain-addActivity button {
    background-color: #d30012ae;
    color: rgb(246, 244, 236);
}

.contain-addActivity button:hover {
    transform: translateY(-2px); /* Simule un déplacement vertical vers le bas */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); /* Réduit l'ombre pour donner l'impression que le bouton est enfoncé */
}

.contain-addActivity button:active {
    transform: translateY(2px); /* Bouton encore plus enfoncé lorsqu'il est cliqué */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); /* Ombre réduite pour un effet de bouton appuyé */
}

.management-activity-contain h2 {
    font-style: italic;
}

.dark-mode .management-activity-contain h2 {
    color: rgb(246, 244, 236);
}

.management-activity-contain select {
    padding: 10px;
    margin: 5px;
    width: 200px;
    border-radius: 5px;
}

.management-activity-contain button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #d30013;
    color: white;
    font-weight: bold;
    width: 167px;
    cursor: pointer;
    transition: all 0.2s ease; /* Ajoute une transition pour rendre l'animation fluide */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Ombre initiale */
}

.dark-mode .management-activity-contain button {
    background-color: #d30012ae;
    color: rgb(246, 244, 236);
}

.management-activity-contain button:hover {
    transform: translateY(-2px); /* Simule un déplacement vertical vers le bas */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); /* Réduit l'ombre pour donner l'impression que le bouton est enfoncé */
}

.management-activity-contain button:active {
    transform: translateY(2px); /* Bouton encore plus enfoncé lorsqu'il est cliqué */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); /* Ombre réduite pour un effet de bouton appuyé */
}


