.title-homepage {
    padding: 2%;
    text-shadow: 1px 3px 6px rgb(82, 42, 42);
}

.div-homepage {
    border: 4px solid #d30013;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

.div-homepage.appear {
    opacity: 1;
  }

.div-homepage h2 {
    color: #d30013;
    font-style: italic;
    text-shadow: 1px 3px 6px rgb(118, 64, 64);
}

.div-information {
    display: flex;
    flex-direction: row; /* Par défaut, texte et image sont côte à côte */
    justify-content: space-around;
    align-items: stretch;
    background-color: white;
    border-radius: 30px;
    width: 90%;
    margin: 1%;
}

.content-text {
    flex: 1;
    padding: 20px;
}

.image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: auto; 
    border-radius: 30px;
    overflow: hidden;
}

.pdf-container {
    width: 100%; /* La largeur occupe 100% de son conteneur parent */
    max-width: 800px; /* Tu peux fixer une largeur maximale si nécessaire */
    margin: 0 auto; /* Centrer le conteneur */
  }

/* Media query pour les écrans de moins de 1000px */
@media (max-width: 1000px) {
    .div-information {
        flex-direction: column; /* Passe le texte et l'image en colonne */
    }

    .image-container {
        width: 100%; /* S'assure que le conteneur de l'image prend 100% de la largeur */
        height: auto; /* Laisse l'image prendre la hauteur nécessaire */
    }

    .image-wrapper {
        width: 100%;
        height: 300px; /* Fixe une hauteur pour l'image dans la version mobile */
        max-height: none; /* Supprime la hauteur maximale */
        border-radius: 0; /* Enlève le border-radius pour le mobile si nécessaire */
    }

    .image-wrapper img {
        object-fit: cover; /* S'assure que l'image couvre le conteneur sans déformation */
    }

    .pdf-container {
        width: 90%; /* Ajuste la largeur pour les petits écrans */
      }
}
