.title-homepage {
    padding: 2%;
    text-shadow: 1px 3px 6px rgb(82, 42, 42);
}

.dark-mode .title-homepage {
    color: rgb(246, 244, 236);
    text-shadow: 1px 3px 6px rgb(251, 251, 251);
}

.div-homepage {
    border: 4px solid #d30013;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

.dark-mode .div-homepage {
    border: 2px solid #d30013;
    background-color: #1a1919 ;
    box-shadow: 4px 4px 10px rgba(107, 103, 103, 0.5);
}

.div-homepage.appear {
    opacity: 1;
  }

.div-homepage h2 {
    color: #d30013;
    font-style: italic;
    text-shadow: 1px 3px 6px rgb(118, 64, 64);
}

.div-information {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: stretch;
    background-color: white;
    border-radius: 30px;
    width: 90%;
    margin: 1%;
}

.dark-mode .div-information {
    background-color: #1a1919;
    color: rgb(246, 244, 236) ;
}

.content-text {
    flex: 1;
    padding: 20px;
}

.image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: auto; 
    border-radius: 30px;
    overflow: hidden;
}

.pdf-container {
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto; 
  }

  .align-left {
    text-align: left;
  }
  .align-center {
    text-align: center;
  }
  .align-right {
    text-align: right;
  }
  .align-justify {
    text-align: justify;
  }


@media (max-width: 1000px) {
    .div-information {
        flex-direction: column; 
    }

    .image-container {
        width: 100%; 
        height: auto; 
    }

    .image-wrapper {
        width: 100%;
        height: 300px; 
        max-height: none; 
        border-radius: 0; 
    }

    .image-wrapper img {
        object-fit: cover; 
    }

    .pdf-container {
        width: 90%;
      }
}
