.dark-mode .h1-admin-page {
  color: rgb(246, 244, 236);
}

.user-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px; 
    padding:0 10% 0 10%;
    list-style: none; 
  }
  
  .user-grid li {
    background-color: #f0f0f0; 
    padding: 8px; 
    border-radius: 4px; 
    text-align: center; 
  }

  .dark-mode .user-grid li {
    background-color: rgb(246, 244, 236);
  }
  
  .user-grid li a {
    text-decoration: none; 
    color: #333; 
  }
  
  .user-grid li a:hover {
    color: #d30013; 
  }

  .centers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;
  }

  .centers-list .center-filtered {
    margin-right: 0.9%;
    font-size: 0.8rem;
  }

  .search-button-contact button {
    margin: 0.5%;
    cursor: pointer;
  }
  
  .center-filtered p {
    cursor: pointer;
    color: #333;
    transition: all 0.3s ease; 
  }
  
  .dark-mode .center-filtered p {
    color: rgb(246, 244, 236);
  }

  .center-filtered p:hover {
    scale: 1.1; 
    color: #d30013;
  }
  
  .activities-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;
  }

  .activities-list .activity-filtered {
    margin-right: 0.9%;
    font-size: 0.7rem;
  }

  .activity-filtered a {
    text-decoration: none;
    color: #333;
    transition: font-size 0.3s ease; 
  }

  .activity-filtered a:hover {
    font-size: 0.9rem; 
    color: #d30013;
  }

  @media (max-width: 900px) {
    .user-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
      }

  }

  @media (max-width: 400px) {
    .user-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
      }

  }