.user-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes de taille égale */
    gap: 16px; /* Espace entre les éléments */
    padding:0 10% 0 10%;
    list-style: none; /* Enlever les puces des éléments de liste */
  }
  
  .user-grid li {
    background-color: #f0f0f0; /* Couleur de fond des éléments de liste */
    padding: 8px; /* Espacement interne des éléments */
    border-radius: 4px; /* Coins arrondis */
    text-align: center; /* Centrer le texte dans chaque élément */
  }
  
  .user-grid li a {
    text-decoration: none; /* Enlever la décoration du lien */
    color: #333; /* Couleur du texte */
  }
  
  .user-grid li a:hover {
    color: #d30013; /* Couleur du texte au survol */
  }

  .centers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;
  }

  .centers-list .center-filtered {
    margin-right: 0.9%;
    font-size: 0.8rem;
  }

  .center-filtered a {
    text-decoration: none;
    color: #333;
    transition: font-size 0.3s ease; 
  }

  .center-filtered a:hover {
    font-size: 1rem; 
    color: #d30013;
  }

  .activities-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;
  }

  .activities-list .activity-filtered {
    margin-right: 0.9%;
    font-size: 0.7rem;
  }

  .activity-filtered a {
    text-decoration: none;
    color: #333;
    transition: font-size 0.3s ease; 
  }

  .activity-filtered a:hover {
    font-size: 0.9rem; 
    color: #d30013;
  }

  @media (max-width: 900px) {
    .user-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 colonnes de taille égale */
      }

  }

  @media (max-width: 400px) {
    .user-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* 1 colonne */
      }

  }