.image-actualities {
    background-image: url('/assets/Image20240920122947.png'); 
    background-size: contain; 
    background-position: center; 
    width: 100vw; 
    height: 300px; 
    max-height: 400px; 
}

.container-left-and-right {
    display: flex;
    justify-content: space-around;
    margin: 3%;
}

.actualities-content h2 {
    text-decoration: underline;
}

.dark-mode .actualities-content h2 {
    color: rgb(246, 244, 236);
}


.actualities-content ul li {
    list-style-type: none;
    display: flex;
    margin: 4%;
}

.dark-mode .actualities-content ul li {
    color: rgb(246, 244, 236);
}


.actualities-content ul li.opened {
    flex-direction: column; 
    align-items: flex-start; 
}


.actualities-content ul li a {
    text-decoration: none;
    color: #d30013;
    transition: all 0.3s ease-in-out;
}

.actualities-content ul li a:hover {
    font-weight: bold;
}


.delete-icon-actualities, .modify-icon-actualities {
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
    margin-left: 10px;
}

.delete-icon-actualities:hover, .modify-icon-actualities:hover {
    font-size: 1.3rem;
}


.actualities-content ul li .news-content {
    margin-top: 10px;
}

.actualities-content ul li img {
    margin-top: 10px;
}


@media (max-width: 900px) {
    .image-actualities {
        background-image: url('/assets/Image20240920122947.png'); 
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        width: 100%; 
        height: 300px; 
        max-height: 400px; 
    }
    
}