.option-container h2 {
    font-style: italic;
    animation: fadeIn 2s ease-in-out;
}

.dark-mode .option-container h2 {
    color: rgb(246, 244, 236);
}

.option-container {
    margin: 20px;
}

.option-container ul {
    list-style-type: none;
    padding: 0;
}

.option-container li {
    margin-bottom: 10px;
}

.option-container button {
    width: 200px; 
    height: 50px; 
    box-sizing: border-box; 
    padding: 10px;
    font-size: 16px; 
    text-align: center; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #f0f0f0; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    animation: fadeIn 3s ease-in-out;
}

.dark-mode .option-container button {
    border: 1px solid #2f2f2f;
    background-color: #2f2f2f;
    color: rgb(246, 244, 236);
    transition: all 0.3s ease; 
}

.option-container button:hover {
    background-color: #e0e0e0; 
}

.dark-mode .option-container button:hover {
    color: black;
    font-weight: bold;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

