.navAdmin {
    border-top: 1px solid black;
    border-bottom: 1px solid;
    width: 90%;
    display: flex;
    margin: 0 auto;
    margin-top: 4%;
}

.navbar-admin {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-admin a {
    text-decoration: none;
    color: #333;
    padding: 2%;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, text-shadow 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

.navbar-admin a:hover {
    color: #d30013;
    font-weight: bold;
    transform: scale(1.2);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.menu-toggle-admin {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 900px) {
    .navbar-admin {
        position: fixed;
        top: 100px;
        left: -100%; /* Positionnez selon votre besoin */
        width: 250px;
        transition: left 0.3s ease-in-out;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        gap: 15px;
        transition: left 0.3s ease-in-out;
        z-index: 1000;
        border: 1px solid black;
        border-radius: 1.5rem;
        background-color: white;
    }

    .navbar-admin.open {
        left: 100px;
    }

    .menu-toggle-admin {
        display: block;
    }

    .navbar-admin a {
        color: black;

    }

    .navbar-admin a:hover {
        color: d30013;
    }

    .navbar-admin a,
    .navbar-admin button {
        font-size: 1.1rem;
    }
}