.container-add-file {
    background-color: #f0f0f0;
    margin: 2%;
    width: 88%;
}

.container-add-file form {
display: flex;
flex-direction: column;
align-items: center;
}

form input {
    padding: 1%;
}

form label {
    padding: 1%;
}

select {
    margin-left: 1%;
}



