.container-add-file {
    background-color: #f0f0f0;
    margin: 2% auto;
    padding: 1%;
    width: 88%;
}

.dark-mode .container-add-file {
background-color: #e1d1d148;
}

.container-add-file h1 {
    text-decoration: underline;
}

.dark-mode .container-add-file h1 {
    color: rgb(246, 244, 236);
}

.container-add-file form button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #d30013;
    color: white;
    font-weight: bold;
    width: 167px;
    cursor: pointer;
    transition: all 0.2s ease; /* Ajoute une transition pour rendre l'animation fluide */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Ombre initiale */
}

.container-add-file button:hover {
    transform: translateY(-2px); /* Simule un déplacement vertical vers le bas */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); /* Réduit l'ombre pour donner l'impression que le bouton est enfoncé */
}

.container-add-file button:active {
    transform: translateY(2px); /* Bouton encore plus enfoncé lorsqu'il est cliqué */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); /* Ombre réduite pour un effet de bouton appuyé */
}

.dark-mode .container-add-file form label {
    color: rgb(246, 244, 236);
}

.dark-mode .container-add-file button {
    background-color: #d30012ae;
    color: rgb(246, 244, 236);
}

.container-add-file form {
display: flex;
flex-direction: column;
align-items: center;
}

form input {
    padding: 1%;
}

form label {
    padding: 1%;
}

select {
    margin-left: 1%;
}

.container-managePdf h2 {
    text-decoration: underline;
}

.dark-mode .container-managePdf h2 {
    color: rgb(246, 244, 236);
}

.container-managePdf li {
    list-style-type: none;
}

.dark-mode .container-managePdf li {
    color: rgb(246, 244, 236);
}

.container-managePdf ul li a {
    color: #d30013;
    font-size: 1.1rem;
}

.dark-mode .container-managePdf ul li a {
    color: #d30012ae;
}



