.poll h1 {
    font-style: italic;
    text-shadow: 2px 2px 3px black;
}

.dark-mode .poll h1 {
    color: rgb(246, 244, 236);
}

.poll-container {
    border: solid 3px #d30013;
    border-radius: 30px;
    margin: 2% auto;
    padding: 1%;
    box-shadow: 5px 5px 8px black;
    width: 500px;
}

.dark-mode .poll-container {
    background-color: #e1d1d148;
    border: solid 3px #d30012ae;
}

.poll-container p {
color: #d30013;
font-size: 1.5rem;
font-weight: bold;
text-shadow: 5px 5px 8px black ;
cursor: pointer;
}

.dark-mode .poll-container p {
    color: #d30012ae;
    text-shadow: 2px 2px 4px black ;
}



@media (max-width: 550px) {
    .poll-container {
        width: 100%;
        margin-right: 5%;
    }
  }


