.navigation h3 {
    cursor: pointer;
    background-color: #f4f4f4;
    padding: 10px;
    margin: 5px auto;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
    width: 70%;
  }
  
  .navigation h3:hover {
    background-color: #eaeaea;
  }
  
  .navigation ul {
    padding-left: 20px;
    margin-top: 0;
  }

  .navigation ul a {
    text-decoration: none;
    color: #d30013;
  }
  