.navigation h3 {
    cursor: pointer;
    background-color: #f4f4f4;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
  }
  
  .navigation h3:hover {
    background-color: #eaeaea;
  }
  
  ul {
    padding-left: 20px;
    margin-top: 0;
  }
  